##################################
######## Common Settings #########
##################################
# PLACE GLOBAL SETTINGS HERE
## These settings will apply to all instances.
port="51511"
maxplayers="12"

## Server Start Command | https://docs.linuxgsm.com/configuration/start-parameters#additional-parameters#additional-parameters
fn_parms(){
parms="-game left4dead2 -nomaster -strictportbind -ip ${ip} -port ${port} +map ${defaultmap} +servercfgfile ${servercfg} -maxplayers ${maxplayers} -tickrate 60"
}