##################################
####### Instance Settings ########
##################################
# PLACE INSTANCE SETTINGS HERE
## These settings will apply to a specific instance.

port="27015"
defaultmap="c2m1_highway"
tickrate="100"

## Server Start Command | https://docs.linuxgsm.com/configuration/start-parameters#additional-parameters#additional-parameters
startparameters="-game left4dead2 -nomaster -strictportbind -ip ${ip} -port ${port} +clientport ${clientport} +map ${defaultmap} +servercfgfile ${servercfg} -maxplayers 31 -tickrate ${tickrate}"
